@model IEnumerable<Garage25MvcCore22.Models.Vehicle>

@{
    ViewData["Title"] = "All Vehicles";
}
<link href="~/css/Garage25.css" rel="stylesheet" />
<div class="g25View">
    <h1>All Vehicles</h1>

    <p>
        <a asp-action="Create">Check In New Vehicle</a>
    </p>

    @using (Html.BeginForm())
    {
        <p>
            Search By Reg.Nr Or Type: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>CheckIn time</th>
                <th>Reg. Number</th>
                <th>Type</th>
                <th>Owner</th>
                <th>Phone</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrOfWheels)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.Type)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        @if (item.Parked == false)
                        {
                            <span> | </span>
                            <a asp-action="CheckIn" asp-route-id="@item.Id">CheckIn</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>