@model IEnumerable<Garage25MvcCore22.Models.VehicleOverviewViewModel>

@{
    ViewData["Title"] = "Parked vehicles";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Search By Reg.Nr Or Type: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>

            <th>Vehicle Type</th>

            <th> Register Number</th>

            <th> Start Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>

                    @Html.DisplayFor(modelItem => item.Member.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.PhoneNr)
                </td>

                <td>@Html.DisplayFor(modelItem => item.VehicleType.Type)</td>

                <td>@Html.DisplayFor(modelItem => item.RegNr)</td>


                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>



                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Member.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Member.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Member.Id">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
