@model Garage25MvcCore22.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Member vehicle(s)</h1>

<div>
    <h4>Member</h4>
    <hr />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Member</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>
                Model
            </th>
            <th>
                Num Of Wheels
            </th>

            <th>Reg. Number</th>
            <th>Start Time</th>
            <th>Parked</th>
            <th>Vehicle TypeId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOfWheels)
            </td>
            <td>@Html.DisplayFor(modelItem => item.RegNr)</td>
            <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
            <td>@Html.DisplayFor(modelItem => item.Parked)</td>
            <td>@Html.DisplayFor(modelItem => item.VehicleTypeId)</td>
            <td>
                <!---
        <a asp-action="Edit" asp-route-id="@item.Member.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Member.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Member.Id">Delete</a>
        -->
                <a href='@Url.Action( "Edit","Vehicles", new {  id = @item.Id })'>Edit</a>
                <a href='@Url.Action( "Details","Vehicles", new {  id = @item.Id })'>Details</a>

            </td>
        </tr>
        }
    </tbody>
</table>